.carouselContainer {
  margin-bottom: 2rem;
}

.color {
  /* background-color: rgb(192, 196, 184); */
  right: 0 !important;
  left: 0 !important;
}
.d-block {
  text-align: center;
  max-height: 90vh;
}
