.product-detail {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.images img{
  margin: 0.1rem 2rem;
  max-width: fit-content;
}

h1 {
  text-align: center;
}

.images img:hover {
  border: 0.1rem solid black ; 
}

.all-product-info {
  margin: 3.5rem 2rem 0;
  font-size: 1.5rem;
}
.cart p {
  border: 0.1rem solid black;
  text-align: center;
  padding: 0.5rem 0;
}
.cart {
  text-decoration: none;
}
