.product-detail {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  align-items: center;
}

.images img{
  margin: 0.1rem 2rem;
  width: fit-content;
}

h1 {
  text-align: center;
}

.product-image{
  display: flex;
  justify-content: center;
}

.images img:hover {
  border: 0.1rem solid black ; 
}

.all-product-info {
  margin: 2rem;
  font-size: 1.2rem;
  max-width: 35%;
}
.cart p {
  border: 0.1rem solid black;
  text-align: center;
  padding: 0.5rem 0;
}
.cart {
  text-decoration: none;
}
.cart:hover p{
  background-color: black;
  color: white;
}

.cart:active p{
  transform: translateY(0.2rem);
}

@media only screen and (max-width: 750px) {
  .product-detail{
    justify-content: center;
  }
  .all-product-info {
    max-width: 80%;
  }
  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .images img {
    margin: 0.2rem;
  }
  .product-image{
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    width: fit-content;
  }
  .firstUrl img{
    align-self: center;
  }
}
