.shippingpage{
    margin: 0 10rem;
    font-size: rem;
    align-content: center;
  
  }
  .changing{
    color: rgb(42, 99, 165); 
    font-weight: bold;
    text-decoration: underline;
  }

  .changing2{
    opacity: 0.7;
    color: rgb(6, 40, 104);
  }
  .returnpage{
    margin-bottom: 70px;
  }
  .time{
    color: rgba(6, 87, 153, 0.568);
    font-size: 20px;
    margin-bottom: 30px;
  }