.products {
  /* display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px; */
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-size: cover;
}
.product {
  position: relative;
}
.product img {
  min-width: 27vw;
  height: 70vh;
  padding: 1rem;
  margin: 0.6rem;
}
.product img:hover {
  transition: 1s ease-in-out;
  padding: 0;
}

.product-info {
  position: absolute;
  bottom: 10%;
  font-size: 1.5rem;
  margin: 0 2rem;
  text-decoration: none;
}
.product-info a {
  text-decoration: none;
}
