.shipping-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 0.3rem;
  background-image: url("https://cdn.w600.comps.canstockphoto.com/beautiful-young-woman-in-ripped-leggings-pictures_csp76797384.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.shipping-payment {
  background-color: white;
  padding: 0 3rem 1rem;
  margin: 2rem;
  border-radius: 0.5rem;
  max-width: 50vw;
  padding: 2rem;
  box-shadow: inset 0 0 10px;
  text-align: left;
}

.shipping-detail {
    max-width: 40vw;
}
.paypal button{
  min-width: 100%;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
